= content_for :top do
  = link_to '', root_path, :id => "logo"
  #account_info
    - if defined?( current_user ) and defined?( edit_user_registration_path ) and defined?( destroy_user_registration_path )
      = t 'common.messages.hi'
      = link_to current_user.username, edit_user_registration_path
      = t 'common.messages.not_you'
      = link_to t('links.logout'), destroy_user_session_path
