#login_form
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    %fieldset
      = devise_error_messages!

      = f.label :email
      = f.text_field :email
      = f.submit "Resend unlock instructions"

.more_options
  = render partial: "devise/shared/links"
