!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'CloverInteractive'
    = javascript_include_tag :application
    = stylesheet_link_tag :application, :clover
    = yield :head
    = csrf_meta_tag
  %body{ class: ( @page.present? && @page.home_page ? '' : 'section' ) }
    #wrapper
      = render partial: 'layouts/themes/clover/top'
      = render partial: 'layouts/themes/clover/banner', object: @page

      #mid
        - if @page.present? && @page.home_page?
          #content= yield
          = render partial:'layouts/themes/clover/sidebar', object: @page, locals: { section: @section }
        - elsif @page.present?
          #imid
            = render partial: 'layouts/themes/clover/sidebar', object: @page, locals: { section: @section }
            #content= yield

      = render partial: 'layouts/themes/clover/bottom'
