%fieldset
  = simple_form_for ContactForm.new, as: :contact_form, url: contact_form_path do |contact|
    = contact.input :name
    = contact.input :email
    = contact.input :subject
    = contact.input :message, as: :text

    = contact.submit :submit
