= form_for [ :dashboard, section ] do |f|
  .columns
    .half
      %label{ for: :section_name }
        = Section.model_name.human
        %small= t 'dashboard.sections.descriptions.name'
      = f.text_field  :name

      %label{ for: :main_section_id }
        = t 'activerecord.attributes.section.main_section'
        %small= t 'dashboard.sections.descriptions.main_section'
      = f.select :main_section_id, section.section_collection, include_blank: true

      %button#submit= t 'common.forms.submit'

    .half
      #tips_content.box
        %h3= t 'common.headers.did_you_know'
        %p= t 'dashboard.sections.index.tip'
