- selected_tab = ( controller_name == 'registrations' ) ? 'users' : controller_name
= render 'layouts/dashboard/head', selected_tab: selected_tab
= render 'layouts/dashboard/navigation'
= render 'layouts/dashboard/top'

!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Dashboard'
    = javascript_include_tag :application
    = stylesheet_link_tag 'main', 'dashboard'
    = yield :head
    = csrf_meta_tag
  %body
    #wrapper
      #top= yield :top
      #nav_wrap= yield :nav_wrap
      #content_wrap
        #content
          = render partial: 'layouts/dashboard/flashes'
          .module
            %h2.title= content_for?(:module_title) ? yield(:module_title) : t( "activerecord.models.#{ selected_tab.singularize }" )
            .module_body= yield
      #footer_wrap
        #footer= content_for?(:footer) ? yield(:footer) : 'CloverInteractive'
